altgraph==0.17.4
antiorm==1.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
db==0.1.1
db-sqlite3==0.0.1
falcon==2.0.0
hug==2.6.1
idna==3.6
packaging==23.2
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.1.0
